<div class="row">
  <div class="col-12">
      <div class="card p-5">
            <span> This is a sample landing page for the project. This can be customized according to the project needs. Below are the links for the supported layouts &amp; full page modules by Core Framework.  </span>
          <a routerLink="/menu1page1">Level 1 - Layout Model with set of widgets.</a>
          <a routerLink="/menu4page4/submenu1page1">Level 2 - Layout Model with set of widgets and banner.</a>
          <a routerLink="/fullpage">Full Page - A module with set of components which is typical for transactional models.</a>

          <!-- <app-comp-spinner-section></app-comp-spinner-section>
        <app-comp-spinner-user></app-comp-spinner-user>
        <app-page-spinner></app-page-spinner> -->
      </div>
  </div>
  
</div>

